
@{
    ViewData["Title"] = "About";
}

<h1>About Us</h1>
<body style="background-color: #fffae5;">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>HI GUYS </p>
        <p>no need to keep opening and closing the page</p>
        <p> oks</p>
    </div>
</body>

